@import "./variables.scss";

.pageContainer {
   @include FLEX(row, flex-end, flex-start);
   width: 100%;
   max-width: 1300;
   margin: 0 auto;
   padding: 32px;
}

.editorContainer {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   background-color: $neutral-100;
   width: 300px;
   padding: 8px;
   overflow: hidden auto;
}

.previewContainer {
   background-color: $neutral-100;
   width: 800px;
   padding: 24px;
   margin-right: 64px;
   min-height: 700px;
   box-shadow: 0px 1px 2px #22222230;
   border: 2px solid $neutral-300;

   h1,
   h2,
   h3 {
      font-family: Inter, sans-serif;
      color: $primary-900;
   }

   h1 {
      font-size: 1.6rem;
   }

   h2 {
      font-size: 1.35rem;
      margin-top: 80px;
      font-weight: 500;
   }

   h3 {
      font-size: 1.2rem;
      margin-top: 80px;
      font-weight: 500;
   }

   p {
      font-size: 1rem;
      margin: 16px auto;
      line-height: 26px;
   }


   img {
      width: auto;
      max-width: 600px;
      max-height: 330px;
      display: block;
      margin: 24px auto;
   }
}

.toolbar {
   @include FLEX(column, flex-start, flex-start);
   gap: 8px;
   left: 320px;
   list-style-type: none;
   position: fixed;
   top: 10px;
}



.toolbutton {
   @include FLEX(row, center, center);
   background-color: $action-500;
   color: $neutral-100;
   width: 32px;
   height: 32px;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 100%;
   cursor: pointer;
   transition: background-color 0.2s;

   &:hover {
      background-color: $action-600;
   }
}

.editorElement {
   textarea {
      border: 2px solid $neutral-400;
      min-height: 60px;
      padding: 8px;
      width: 100%;
   }

   div {
      @include FLEX(row, center, center);
      width: fit-content;
      gap: 8px;
      padding: 4px 0;


      select {
         border: none;
         background-color: transparent;
         padding: 4px;
         outline: none;
      }

      button {
         background-color: $error-600;
         padding: 4px;
         color: $neutral-100;
         font-weight: bold;
         font-size: 0.8rem;
         cursor: pointer;

      }
   }

}

.editorImageElement {
   @include FLEX(column, flex-start, flex-start);

   div {
      @include FLEX(row, space-between, center);
      gap: 8px;
      font-size: 0.9rem;

      button {
         background-color: $error-600;
         padding: 4px;
         color: $neutral-100;
         font-weight: bold;
         font-size: 0.8rem;
         cursor: pointer;

      }
   }

   input {
      width: 100%;
      border: 2px solid $neutral-300;
      padding: 4px 8px;
      outline: none;
      margin: 2px 0;

      &:focus {
         border-color: $primary-500;
      }
   }
}

.mainForm {
   @include FLEX(column, flex-start, flex-start);
   width: 100%;
   margin-top: 50px;

   h2 {
      font-family: Inter, sans-serif;
      font-size: 1.2rem;
   }

   input,
   textarea {
      width: 100%;
      padding: 4px 8px;
      outline: none;
      border: 2px solid $neutral-400;
      margin: 4px 0;
      transition: border-color 0.2s;
      font-size: 0.9rem;

      &:focus {
         border-color: $primary-500;
      }
   }

   button {
      @include FLEX(row, center, center);
      width: 100%;
      background-color: $success-800;
      color: $neutral-100;
      padding: 8px 0;

      span {
         display: block;
         width: 16px;
         height: 16px;
         animation: spin 1s infinite linear;
      }

      &:disabled {
         background-color: $success-900;
      }
   }
}